@{
    ViewData["Title"] = "Добавить объявление";
    if (Model.Name == null) 
    {
        Model.Name = "";
        Model.Description = "";
        Model.Price = 0;
        Model.CotegorysId = 0;
        Model.City = "";
    }
    string base64String = "/drawable/icon_image.png";

    if (Model.Photo != null)
        base64String = $"data:image/png;base64,{Convert.ToBase64String(Model.Photo)}";

}

<main>
    <div class="container border-dark">
                <form>
        <div class="row">
            <div class="col-3">
                <div class="mb-2 text-center ">
                        <img src="@base64String" class="img-thumbnail img-fluid mb-2" alt="" />

                    <div class="row mb-2 text-center">
                        <input name="filephoto" class="form-control mb-2" placeholder="Путь к файлу..." value="@ViewBag.Photo" />
                        <button type="submit" class="btn btn-dark text-light bg-dark" asp-controller="AddAdPage" asp-action="SetPhoto">Установить Фото</button>
                    </div>
                </div>
            </div>

            <div class="col-9">
                    <div class="mb-1">
                        <label class="form-label">Название:</label>
                        <input name="Name" class="form-control" value="@Model.Name">
                    </div>
                    <div class="mb-1">
                        <label for="exampleFormControlTextarea1" class="form-label">Описание:</label>
                        <textarea name="Description" class="form-control" id="exampleFormControlTextarea1" rows="6" value="@Model.Description"></textarea>
                    </div>
                    <div class="row mb-1">
                        <div class="col-4 mb-1">
                            <label class="form-label">Цена:</label>
                            <input type="number" pattern="\d+" title="Введите число" name="Price" class="form-control" value="@Model.Price">
                        </div>
                        <div class="col-4 mb-1">
                            <label class="form-label">Категория:</label>
                            <select name="Cotegory" class="form-control" aria-label="Default select example" onselect="@Model.CotegorysId">
                                <option value="1">Недвижимость</option>
                                <option value="2">Транспорт</option>
                                <option value="3" selected>Личные вещи</option>
                                <option value="4">Услуга</option>
                                <option value="5">Электроника</option>
                            </select>
                        </div>
                        <div class="col-4 mb-1">
                            <label class="form-label">Город:</label>
                            <input name="City" class="form-control" value="@Model.City">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <input class="form-check-input form-check-input-dark" type="radio" name="buyOrSell" id="buyRadio" value="1" />
                                <label class="form-check-label mx-2" for="buyRadio">
                                    Куплю
                                </label>
                            </div>
                        </div>
                        <div class="col text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <input class="form-check-input form-check-input-dark" type="radio" name="buyOrSell" id="sellRadio" value="2" checked="checked" />
                                <label class="form-check-label mx-2" for="sellRadio">
                                    Продам
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-center d-grid gap-2 mx-auto">
                            <button type="submit" class="btn btn-dark text-light bg-dark" asp-area="" asp-controller="AddAdPage" asp-action="AddAd">Опубликовать</button>
                        </div>
                        <div class="col-6 text-center d-grid gap-2 mx-auto">
                            <a type="button" class="btn btn-dark text-light bg-dark" asp-area="" asp-controller="Home" asp-action="AdsPage">Отмена</a>
                        </div>
                    </div>
            </div>
        </div>
                </form>
    </div>
</main>