@{
    ViewData["Title"] = "Объявление";
    string adPhoto = Convert.ToBase64String(Model.Photo);
    string salesmanPhoto = "";
    if (Model.Person.Photo != null)
        salesmanPhoto = $"data:image/png;base64,{Convert.ToBase64String(Model.Person.Photo)}";
    else
        salesmanPhoto = "/drawable/icon_image_person.png";
    string message = "";
}

<main>
    <div class="container border-dark">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="mb-2 text-center">
                        <img src="data:image/png;base64,@adPhoto" class="img-thumbnail img-fluid mb-2" alt="">
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-6 mb-2 text-center ">
                        <img src="@salesmanPhoto" class="img-thumbnail img-fluid mb-2" style="width:100px;" alt="">
                    </div>
                    <div class="col-6">
                        <lable>@Model.Person.Name</lable>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <div class="mb-1">
                    <label class="form-label">Название:</label>
                    <input class="form-control" value="@Model.Name" readonly>
                </div>
                <div class="mb-1">
                    <label for="exampleFormControlTextarea1" class="form-label">Описание:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" readonly>@Model.Description</textarea>
                </div>
                <div class="row mb-1">
                    <div class="col-4 mb-1">
                        <label class="form-label">Цена:</label>
                        <input class="form-control" value="@Model.Price" readonly>
                    </div>
                    <div class="col-4 mb-1">
                        <label class="form-label">Номер телефона:</label>
                        <input class="form-control" value="@Model.Person.Phone" readonly>
                    </div>
                    <div class="col-4 mb-1">
                        <label class="form-label">Город:</label>
                        <input class="form-control" value="@Model.City" readonly>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <input class="h5" name="Id" hidden="hidden" value="@Model.Id" />
                        @if (ViewBag.IsFavorites == 2)
                        {
                            <div class="col-6 text-center d-grid gap-2 mx-auto">
                                <button type="submit" class="btn btn-outline-primary btn-block " asp-controller="AdPage" asp-action="AdToFavorite">Добавить в избранное</button>
                            </div>
                        }
                        else
                        {
                            <div class="col-6 text-center d-grid gap-2 mx-auto">
                                <button type="submit" class="btn btn-outline-primary btn-block " asp-controller="AdPage" asp-action="DeleteFromFavorite">Удалить из избранного</button>
                            </div>
                        }
                        <div class="col-6 text-center d-grid gap-2 mx-auto">
                            <button type="submit" class="btn btn-outline-primary btn-block" asp-controller="AdPage" asp-action="ToComplain">Пожаловаться</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@if(ViewBag.Result == 1)
{
    <script>
        var str = "Объявление добавленно в избранное";
        alert(str);
    </script>
}
else if(ViewBag.Result == 2)
{
    <script>
        var str = "Объявление уже в избранном";
        alert(str);
    </script>
}
else if(ViewBag.Result == 3)
{
    <script>
        var str = "Необходима авторизация";
        alert(str);
    </script>
}
else if (ViewBag.Result == 4)
{
    <script>
        var str = "Жалоба успешно отправленна";
        alert(str);
    </script>
}
else if (ViewBag.Result == 5)
{
    <script>
        var str = "На это объявление уже поданна жалоба";
        alert(str);
    </script>
}
else if (ViewBag.Result == 6)
{
    <script>
        var str = "Объявление удалено из избранного";
        alert(str);
    </script>
}

