@{
    ViewData["Title"] = "Редактор профиля";
    string base64String = Convert.ToBase64String(Model.Photo);
    if (ViewBag.Photo == null)
        ViewBag.Photo = "";
}

<main>
    <div class="container border-dark">
        <form name="photoset">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="mb-2 text-center ">
                            <img name="Photo" src="data:image/png;base64,@base64String" class="img-thumbnail img-fluid mb-2" height="400" width="400" alt=""/>
                        </div>
                    </div>

                    <div class="row mb-2 text-center">
                        <input name="filephoto" class="form-control mb-2" placeholder="Путь к файлу..." value="@ViewBag.Photo"/>
                        <button type="submit" class="btn btn-dark text-light bg-dark" asp-controller="EditingProfilePage" asp-action="SetPhoto">Установить Фото</button>
                    </div>
                </div>
                <div class="col-9">
                    <div class="mb-1">
                        <label class="form-label">Никнейм:</label>
                        <input class="form-control" name="Name" value="@Model.Name">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Номер телефона:</label>
                        <input class="form-control" name="Phone" value="@Model.Phone">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Почта:</label>
                        <input class="form-control" name="Email" value="@Model.Email">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Дата рождения:</label>
                        <input class="form-control" name="Birthday" value="@Model.Birthday">
                    </div>
                    <div class="mb-1">
                        <label class="form-label">Город:</label>
                        <input class="form-control" name="City" value="@Model.City">
                    </div>
                    <div class="row">
                        <div class="col-6 text-center d-grid gap-2 mx-auto">
                            <button type="submit" class="btn btn-dark text-light bg-dark" asp-area="" asp-controller="EditingProfilePage" asp-action="SaveProfileChanges">Сохранить изменения</button>
                        </div>
                        <div class="col-6 text-center d-grid gap-2 mx-auto">
                            <a type="button" class="btn btn-dark text-light bg-dark" asp-area="" asp-controller="EditingProfilePage" asp-action="EditingProfilePage">Сбросить изменения</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>