@model AdBoards.ApiClient.Contracts.Responses.Person

@{
    ViewData["Title"] = "Профиль";
}

<main>
    <div class="container border-dark">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="mb-2 text-center ">
                        <img src="@Model.PhotoName" class="img-thumbnail img-fluid mb-2" height="400" width="400" alt="">
                    </div>
                </div>
                <div class="row text-center row-cols-1">
                    <a type="button" class="btn btn-dark text-light bg-dark mb-2" asp-controller="ProfilePage" asp-action="EditProfilePage">Редактировать профиль</a>
                    <a type="button" class="btn btn-dark text-light bg-dark" asp-controller="ProfilePage" asp-action="Exit">Выйти</a>
                </div>
            </div>

            <div class="col-9">
                <div class="container">
                    <div class="mb-1 row">
                        <label class="lblperson">@Model.Name</label>
                    </div>
                    <div class="mb-1 row">
                        <label type="date" class="lblperson">@DateOnly.FromDateTime(Model.Birthday)</label>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_phone.png"/>
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">@Model.Phone</label>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_mail.png"/>
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">@Model.Email</label>
                        </div>
                    </div>
                    <div class="mb-1 row">
                        <div class="col-1">
                            <img class="img-fluid rounded-start" height="30" width="30" src="/drawable/icon_map_location.png"/>
                        </div>
                        <div class="col-11">
                            <label class="col-11 lblperson">@Model.City</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>