@model AdBoards.ApiClient.Contracts.Responses.Ad
@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>
<div class="container border-dark">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="mb-2 text-center">
                    <img src="@Model.PhotoName" class="img-thumbnail img-fluid mb-2" alt="">
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-6 mb-2 text-center ">
                    <img src="@Model.Person.PhotoName" class="img-thumbnail img-fluid mb-2" style="width:100px;" alt="">
                </div>
                <div class="col-6">
                    <lable>@Model.Person.Name</lable>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="mb-1">
                <label class="form-label">Название:</label>
                <input class="form-control" value="@Model.Name" readonly>
            </div>
            <div class="mb-1">
                <label for="exampleFormControlTextarea1" class="form-label">Описание:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" readonly>@Model.Description</textarea>
            </div>
            <div class="row mb-1">
                <div class="col-4 mb-1">
                    <label class="form-label">Цена:</label>
                    <input class="form-control" value="@Model.Price" readonly>
                </div>
                <div class="col-4 mb-1">
                    <label class="form-label">Номер телефона:</label>
                    <input class="form-control" value="@Model.Person.Phone" readonly>
                </div>
                <div class="col-4 mb-1">
                    <label class="form-label">Город:</label>
                    <input class="form-control" value="@Model.City" readonly>
                </div>
            </div>
            <div class="row">
                <input class="h5" name="Id" hidden="hidden" value="@Model.Id"/>
                @if (Model.IsFavorite)
                {
                    <div class="col-6 text-center d-grid gap-2 mx-auto">
                        <a class="btn btn-dark text-light bg-dark" asp-controller="Ads" asp-action="DeleteFromFavorites" asp-route-id="@Model.Id">Удалить из избранного</a>
                    </div>
                }
                else
                {
                    <div class="col-6 text-center d-grid gap-2 mx-auto">
                        <a class="btn btn-dark text-light bg-dark" asp-controller="Ads" asp-action="AdToFavorites" asp-route-id="@Model.Id">Добавить в избранное</a>
                    </div>
                }
                <div class="col-6 text-center d-grid gap-2 mx-auto">
                    <a class="btn btn-dark text-light bg-dark" asp-controller="Ads" asp-action="Complain" asp-route-id="@Model.Id">Пожаловаться</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*@if (ViewBag.AddedToFavorites is not null && ViewBag.AddedToFavorites)
{
    <script>alert("Объявление добавленно в избранное")</script>
}
else
{
    <script>alert("Объявление уже в избранном")</script>
}

@if (ViewBag.Reported is not null && ViewBag.Reported)
{
    <script>alert("Жалоба успешно отправленна")</script>
}
else
{
    <script>alert("На это объявление уже поданна жалоба")</script>
}

@if (ViewBag.DeletedFromFavorites is not null && ViewBag.DeletedFromFavorites)
{
    <script>alert("Объявление удалено из избранного")</script>
}
else
{
    <script>alert("Объявление уже удалено из избранного")</script>
}*@